%% Stops at warnings, treating them as errors.
{erl_opts, [warnings_as_errors, {i, "include"}]}.

%% Cleans editor backups.
{clean_files, ["*~", "ebin/*.beam"]}.

%% EUnit options
{eunit_opts, [verbose]}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, false}.
