%% Stops at warnings, treating them as errors.
{erl_opts, [debug_info, {i, "include"}, {src_dirs, ["src", "test"]}]}.

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, false}.
